openapi: 3.1.0
info:
  title: VIIVERSION WhatsApp Actions
  version: 0.2.0
  description: Private VIIVERSION actions for live WhatsApp Web work plus the existing official WhatsApp Business integration.
servers:
  - url: https://integration.viiversion.com
security:
  - bearerAuth: []
paths:
  /admin/whatsapp/meta-config:
    get:
      operationId: whatsappGetMetaConfig
      summary: Get safe Meta configuration values for WhatsApp setup
      responses:
        '200':
          description: Safe configuration status, webhook callback URL, and verify token. App Secret is never returned.
    post:
      operationId: whatsappSetMetaConfig
      summary: Store Meta App configuration securely for WhatsApp Coexistence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [appId, appSecret, embeddedSignupConfigId]
              properties:
                appId:
                  type: string
                  description: Meta Developer App ID.
                appSecret:
                  type: string
                  description: Meta Developer App Secret. Stored encrypted and never returned.
                embeddedSignupConfigId:
                  type: string
                  description: Meta WhatsApp Embedded Signup configuration ID.
      responses:
        '200':
          description: Configuration stored; returns webhook callback URL and generated verify token.
  /admin/whatsapp/onboarding-session:
    post:
      operationId: whatsappCreateOnboardingLink
      summary: Create a one-time WhatsApp Business Coexistence connection link
      responses:
        '200':
          description: A 15-minute Meta Embedded Signup link
  /api/whatsapp/status:
    get:
      operationId: whatsappStatus
      summary: Check WhatsApp integration status
      responses:
        '200':
          description: Integration status
  /api/whatsapp/chats:
    get:
      operationId: whatsappListChats
      summary: List recent WhatsApp conversations
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Recent conversations
  /api/whatsapp/contacts:
    get:
      operationId: whatsappListContacts
      summary: List or search contacts synchronized from WhatsApp Business
      parameters:
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
      responses:
        '200':
          description: Synchronized contacts
  /api/whatsapp/sync-status:
    get:
      operationId: whatsappSyncStatus
      summary: Get WhatsApp Coexistence history/contact synchronization state
      responses:
        '200':
          description: Synchronization progress and last echo state
  /api/whatsapp/messages:
    get:
      operationId: whatsappGetMessages
      summary: Read or search WhatsApp messages
      parameters:
        - in: query
          name: peer
          schema:
            type: string
          description: WhatsApp phone number to filter by.
        - in: query
          name: q
          schema:
            type: string
          description: Full-text substring search over message text, contact name, phone, and message type.
        - in: query
          name: direction
          schema:
            type: string
            enum: [inbound, outbound]
        - in: query
          name: unread
          schema:
            type: integer
            enum: [0, 1]
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Matching messages
  /api/whatsapp/unread:
    get:
      operationId: whatsappGetUnread
      summary: Get inbound messages not yet reviewed by VIIVERSION
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Unreviewed inbound messages
  /api/whatsapp/review:
    post:
      operationId: whatsappMarkReviewed
      summary: Mark messages reviewed in the VIIVERSION inbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
      responses:
        '200':
          description: Review state updated
  /api/whatsapp/send:
    post:
      operationId: whatsappSendText
      summary: Send a WhatsApp text message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, text]
              properties:
                to:
                  type: string
                  description: Recipient phone number. Punctuation is accepted and normalized.
                text:
                  type: string
                  minLength: 1
                  maxLength: 4096
                previewUrl:
                  type: boolean
                  default: false
                replyTo:
                  type: string
                  description: Optional WhatsApp message ID to reply to.
      responses:
        '200':
          description: Message accepted by WhatsApp Cloud API
  /api/whatsapp/live/status:
    get:
      operationId: whatsappLiveStatus
      summary: Check whether the private live WhatsApp Web session is connected
      responses:
        '200':
          description: Live browser connection state
  /api/whatsapp/live/chats:
    get:
      operationId: whatsappLiveListChats
      summary: Read the current WhatsApp Web chat list live
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Current live WhatsApp chat rows
  /api/whatsapp/live/chat:
    get:
      operationId: whatsappLiveReadChat
      summary: Open a WhatsApp chat live and read its current messages
      parameters:
        - in: query
          name: peer
          required: true
          description: WhatsApp phone number or visible chat/contact name.
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 300
            default: 100
      responses:
        '200':
          description: Current messages from the requested live chat
  /api/whatsapp/live/today:
    get:
      operationId: whatsappLiveWhoWroteToday
      summary: Check live WhatsApp and return chats with inbound messages from today
      parameters:
        - in: query
          name: maxChats
          schema:
            type: integer
            minimum: 1
            maximum: 40
            default: 20
          description: Maximum number of currently active chat rows to inspect.
      responses:
        '200':
          description: Chats and inbound messages found today in live WhatsApp Web
  /api/whatsapp/live/today-from-clients:
    post:
      operationId: whatsappLiveWhoWroteTodayFromClients
      summary: Check which supplied VIIVERSION clients wrote today in live WhatsApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clients]
              properties:
                maxChats:
                  type: integer
                  minimum: 1
                  maximum: 40
                  default: 30
                clients:
                  type: array
                  maxItems: 500
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      phone:
                        type: string
                      aliases:
                        type: array
                        items:
                          type: string
      responses:
        '200':
          description: Live WhatsApp chats matched to the supplied client records
  /api/whatsapp/live/send:
    post:
      operationId: whatsappLiveSend
      summary: Send one explicitly requested WhatsApp message through the live browser session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, text]
              properties:
                to:
                  type: string
                  description: WhatsApp recipient phone number.
                text:
                  type: string
                  minLength: 1
                  maxLength: 4096
                requestId:
                  type: string
                  maxLength: 128
                  description: Optional idempotency key to prevent accidental duplicate sends.
      responses:
        '200':
          description: Live WhatsApp send result
  /api/whatsapp/live/send-many:
    post:
      operationId: whatsappLiveSendMany
      summary: Send a small explicitly requested batch of WhatsApp messages through the live browser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages:
                  type: array
                  minItems: 1
                  maxItems: 15
                  items:
                    type: object
                    required: [to, text]
                    properties:
                      to:
                        type: string
                      text:
                        type: string
                        minLength: 1
                        maxLength: 4096
                      requestId:
                        type: string
                        maxLength: 128
                        description: Optional per-message idempotency key.
      responses:
        '200':
          description: Results for the explicitly requested small batch
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
